#app {
    background-image: url("bg.png");
    max-width: 375px;
}

#Top {
    animation: animatetop 0.4s
}

#Toran {
    animation: animatetop 0.4s
}

#Pillar_Left {
    animation: animateleft 0.4s
}

#Pillar_right {
    animation: animateright 0.4s
}

#Banana_Leaf_Left {
    animation: animateleft 0.4s
}

#Banana_leaf_Right {
    animation: animateright 0.4s
}

#Left_Pillar_Flowers {
    animation: animateleft 0.4s
}

#Right_Pillar_Flowers {
    animation: animateright 0.4s
}

#base {
    animation: animatebotton 0.4s
}